* {
    margin: 0;
    padding: 0;
    font-family: 'poppins' ,'sans serif'
    box sizing: border-box;
    }
    boby{
    background: #6fc5f0;
    }
    .app{
    background: rgb(65, 4, 105);
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
    }
    .app h1{
    font-size: 25px;
    color: rgb(192, 230, 55)
    font-weight: 600;
    border-bottom: 1px solid rgba(58, 148, 238, 0.4);
    padding-bottom: 30px;
    }
    .quiz{
    padding: 20px 0;
    }
    .quiz h2{
    font-size: 18px;
    color:#adb810;
    font-weight: 600;
    }
    .btn{
    background: #ece073;
    color: rgba(22, 102, 207, 0.267)
    font-weight: 500;
    width: 100%;
    border: 1px solid rgba(238, 213, 234, 0.267)63, 79, 79, 0.267);
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
    }
    .btn:hover{
    background: #2537;
    color: #658;
    }
    #next-btn{
    background: #161af5;
    color: rgba(231, 52, 186, 0.4)
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
    }
.correct{
background: rgba(83, 190, 243, 0.467);
}
.incorrect{
background: #5c134a79;
}
    
    
